*.pro.user
*.pro.user.*
build
install
qtc_packaging
src/extra/clientid-plugin
switch-*.sh

# Other files
src/bin/mobile/mobilepostvalidator.cpp
src/bin/mobile/mobilepostvalidator.h
src/bin/mobile/posthelper.cpp
src/bin/mobile/posthelper.h
src/bin/mobile/postupdaterelay.cpp
src/bin/mobile/postupdaterelay.h
src/bin/mobile/qml/components/CommentEntry.qml
src/bin/mobile/qml/components/GroupBookmarkEntry.qml
src/bin/mobile/qml/components/Post.qml
src/bin/mobile/qml/components/PostTextArea.qml
src/bin/mobile/qml/composite/PostList.qml
src/bin/mobile/qml/dialogs/FeedDialogSheet.qml
src/bin/mobile/qml/pages/GroupListPage.qml
src/bin/mobile/qml/pages/GroupPage.qml
src/bin/mobile/qml/pages/LikesPage.qml
src/bin/mobile/qml/pages/NewsPage.qml
src/bin/mobile/qml/pages/PhotoViewerPage.qml
src/bin/mobile/qml/pages/PostPage.qml