[submodule "qjson"]
	path = qjson
	url = git://github.com/flavio/qjson.git
[submodule "nemo-qml-plugin-social"]
	path = nemo-qml-plugin-social
	url = git://github.com/SfietKonstantin/nemo-qml-plugin-social.git
